body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

div.home {
  padding: 10px 0 30px 0;
  background-color: #E6E6FA;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.allVideos{
	width:640px!important;
	height:360px!important;
}

.bordering_for_catalog{
	outline: 1px solid black;
}

footer ul{
  padding: 2px;
  list-style: none;
}

footer{
  background-color:#F2F2F2;
  padding-top: 2px; 
  padding-bottom: 2px;
  width: 100%;
}